<h2><%= t('.title') %></h2>

<% if @favorites.present? %>
<ul>
    <% @favorites.each do |favorite| %>
        <li>
            <%= favorite.product.title %>
            <%= link_to t('.show'), product_path(favorite.product.id), data: { turbo_prefetch: false } %>
        </li>
    <% end %>
</ul>
<% else %>
    <p><%= t('.not_favorites') %></p>
    <%= link_to t('.products'), products_path, data: { turbo_prefetch: false } %>
<% end %>