<%= turbo_frame_tag "products" do %>

    <table>  
        <tr>
            <th><%= Product.human_attribute_name(:title) %></th>
            <th><%= Product.human_attribute_name(:price) %></th>
            <th><%= Product.human_attribute_name(:created_at) %></th>
            <th></th>
        </tr>
        <%= render products %>
    </table>

    <%= paginate products %>
<% end %>