<h2><%= t('.title') %></h2>

<%= simple_form_for :filters, url: products_path, method: :get do |f| %>

    <%= f.input :title, input_html: { value: params.dig(:filters, :title) } %>
    <%= f.input :min_price, input_html: { value: params.dig(:filters, :min_price) } %>
    <%= f.input :max_price, input_html: { value: params.dig(:filters, :max_price) } %>
    <%= f.input :category do %>
        <%= f.select :category_id, @categories.map { |c| [c.label, c.id] }, include_blank: true, selected: params.dig(:filters, :category_id) %>
    <% end %>
    <%= f.input :sorting_by, collection: [['newest', 'Más recientes'], ['oldest', 'Más antiguos'], ['expensive', 'Más caros'], ['cheapest', 'Más baratos']], label_method: :second, value_method: :first, selected: params.dig(:filters, :sorting_by) %>

    <%= f.button :submit, t(".filter") %>
    <%= link_to products_path, data: { turbo_prefetch: false } do %>
        <button><%= t(".clean") %></button>
    <% end %>

<% end %>

<% @products.each do |product| %>
    <div>
        <%= product.title %>

        <%= link_to t('.show'), product_path(product.id), data: { turbo_prefetch: false } %>
        <%= link_to t('.edit'), edit_product_path(product.id), data: { turbo_prefetch: false } if Current.user.present? && policy(product).update? %>
    </div>
<% end %>

<%= paginate @products %>

<%= link_to t('.add'), new_product_path, data: { turbo_prefetch: false } if Current.user.present?  %>
