<h2><%= t('.title') %></h2>

<h2><%= @product.title %></h2>

<div>
    <strong><%= t("simple_form.labels.product.description") %>:</strong>
    <span><%= @product.description %><span>
</div>
<div>
    <strong><%= t("simple_form.labels.product.price") %>:</strong>
    <span><%= @product.price %>€<span>
</div>
<div>
    <strong><%= t("simple_form.labels.product.category") %>:</strong>
    <span><%= @product.category.label.capitalize %><span>
</div>
<div>
    <strong><%= t("simple_form.labels.product.user") %>:</strong>
    <span><%= @product.user.name %> <%= @product.user.lastname %><span>

    <%= link_to t(".more_products"), products_path(filters: { user_id: @product.user.id }), data: { turbo_prefetch: false } %>
</div>


<div>
    <%= link_to t('.delete'), product_path(@product.id), data: { turbo_prefetch: false, turbo_method: :delete, turbo_confirm: t("common.confirm") } if Current.user.present? && policy(@product).destroy? %>
</div>

<div>
    <%= render 'favorite', product: @product %>
</div>
