<h1><%= t('.title') %></h1>

<h2><%= @product.title %></h2>
<span><%= @product.description %><span>
<span><%= @product.price %>€<span>

<div>
    <%= link_to t('.delete'), product_path(@product.id), data: { turbo_prefetch: false, turbo_method: :delete, turbo_confirm: '¿Estás seguro?' }  %>
    <%= link_to t('.index'), products_path, data: { turbo_prefetch: false } %>
</div>